.section-portfolio{
    width: 100vw;
    height: 60vh;
}

.container-description-ptf{
    text-align: center;
    display: flex;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
}

.description-ptf{
  font-size: 1em;
  max-width: 500px;
  margin-top: 20px;
}

.img-ptf{
    width: 150px;
    margin: 0 20px;
    transition: .5s;
    cursor: pointer;
}

.img-ptf:not(:hover){
    filter: grayscale(100%);
}

.carrusel-ptf{
    position: relative;
    display: flex;
    width: 100vw;
    overflow: hidden;
    margin-top: 20px;
}

.logos-carrusel-ptf{
    white-space: nowrap;
    animation: animate 60s linear infinite;
}

@keyframes animate{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.carrusel-ptf:hover .logos-carrusel-ptf{
    animation-play-state: paused;
}

/* Estilos específicos para teléfonos */
@media screen and (max-width: 767px) {
    .section-portfolio{
        display: flex;
        flex-direction: column;
        height: 60vh;
    }
}

/* Estilos específicos para tabletas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section-portfolio{
        display: flex;
        flex-direction: column;
    }
}