.section-portfolio{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #ffffff;
    background: rgb(75,13,182);
    background: linear-gradient(239deg, rgba(75,13,182,1) 19%, rgba(36,33,106,1) 39%, rgba(28,37,92,1) 88%);
}

.container-description-ptf{
    text-align: center;
    display: flex;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
}

.description-ptf{
  font-size: 1em;
  max-width: 500px;
  margin-top: 20px;
}

.img-ptf{
    width: 170px;
    height: auto;
    margin: 0 20px;
    transition: .5s;
    cursor: pointer;
}

.carrusel-ptf{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} 

/* Estilos específicos para teléfonos */
@media screen and (max-width: 767px) {
    .section-portfolio{
        display: flex;
        flex-direction: column;
    }

    .img-ptf{
        width: 170px;
        height: auto;
        margin: 0 20px;
    }
    
    .carrusel-ptf{
        display: flex;
        overflow: auto;
        margin-top: 20px;
        margin-left: 20px;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    
    .logos-carrusel-ptf{
        white-space: nowrap;
    }
}

/* Estilos específicos para tabletas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section-portfolio{
        display: flex;
        flex-direction: column;
    }
}