.section-portfolio{
    width: 100vw;
    height: 100vh;
}

/* Estilos específicos para teléfonos */
@media screen and (max-width: 767px) {
    .section-portfolio{
        display: flex;
        flex-direction: column;
    }
}

/* Estilos específicos para tabletas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section-portfolio{
        display: flex;
        flex-direction: column;
    }
}