.sectionHero{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(75,13,182);
    background: linear-gradient(141deg, rgba(75,13,182,1) 9%, rgba(36,33,106,1) 30%, rgba(28,37,92,1) 62%, rgba(75,13,182,1) 91%);
}

/* Estilos específicos para teléfonos */
@media screen and (max-width: 767px) {
    .sectionHero{
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

/* Estilos específicos para tabletas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .sectionHero{
        display: flex;
        flex-direction: column;
    }
}