.section-footer{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: #1c255c;
}

/* article */

.article-footer{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.logo-footer-ctn{
  width: 400px;
}

.politic-docs-footer{
  display: flex;
  gap: 20px;
}


/* article */

.main-footer{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0% 12%;
}

.items-footer-links{
  display: flex;
  gap: 20px;
}

.items-footer-links a{
  color: #ffffff;
  background-color: #1c255c;
  padding: 10px;
  border-radius: 50px;
  display: flex;
}

/* barra footer abajo */

.down-footer{
  width: 100vw;
  height: 50px;
  background-color: #1c255c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Estilos específicos para teléfonos */
@media screen and (max-width: 767px) {
  .article-footer{
    display: flex;
    flex-direction: column;
    height: 50%;
    font-size: 0.8em;
  }

  .main-footer{
    padding: 0%;
    flex-direction: column;
    height: 24%;
    font-size: 0.9em;

  }

  .logo-footer-ctn{
    width: 300px;
    text-align: center;
  }
  
  .politic-docs-footer{
    gap: 15px;
  }
  
}

/* Estilos específicos para tabletas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-footer{
      display: flex;
      flex-direction: column;
  }
}