/*panatallas grandes*/
@media (min-width: 1200px){
  section{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
  }
  
  article{
    display: flex;
    flex-direction: column;
    gap: 63px;
  }
  
  .descriptionArticle{
    width: 350px;
  }
  
  .downfooter{
    width: 100vw;
    height: 10vh;
    background-color: #1c255c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

/* laptops y pc */
@media (min-width: 992px) and (max-width: 1199px){
  section{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
  }
  
  article{
    display: flex;
    flex-direction: column;
    gap: 63px;
  }
  
  .descriptionArticle{
    width: 350px;
  }
  
  .downfooter{
    width: 100vw;
    height: 10vh;
    background-color: #1c255c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

/* tablet */
@media (min-width: 768px) and (max-width: 991px){
    
}

/* celulares */
@media (min-width: 576px) and (max-width: 767px){

}

/* celulares pequeños */
@media (max-width: 575px){

}