.sectionBanner {
    width: 100%;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.containerTextHero {
    color: #ffffff;
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerTextHero h1 {
    font-size: 50px;
    font-weight: bold;
}

.containerTextHero p {
    font-size: 16px;
}

.buttonsectionBanner {
    color: #ffffff;
    background-color: #9A03FF;
    padding: 15px 48px;
    border-radius: 5px;
    font-weight: bold;
}
.buttonsectionBanner:hover {
    background-color: #7a02cc;
    transition: background-color 0.3s ease-in-out;
}

.image-hero-banner{
    animation: Hero_flotar__FiSaM 3s ease-in-out infinite;
}

@keyframes Hero_flotar__FiSaM {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Estilos específicos para teléfonos */
@media screen and (max-width: 767px) {
    .sectionBanner {
        flex-direction: column;
        text-align: center;
        margin-top: 10%;
    }
    
    .containerTextHero {
        width: 90%;
        margin: 0 auto;
    }
    
    .containerTextHero h1 {
        font-size: 40px;
    }
    
    .containerTextHero p {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    
    .buttonsectionBanner {
        padding: 15px 40px;
        width: 80%;
        margin: 20px auto;
        box-sizing: border-box;
        font-size: .8em;
    }

    .image-hero-banner{
        width: 250px;
        height: 250px;
    }
    
}

/* Estilos específicos para tabletas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}